<!DOCTYPE html>
<html>
<head>
  <title>Benchbnb</title>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAmAYV0uvrY_RGL9IxxNXD4hB7ewC6NNcI" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script >window.currentUser = <%= current_user ? (render "/api/sessions/user.json.jbuilder", user: current_user).html_safe : nil %></script>

</head>
<body>

<%= yield %>

</body>
</html>
